.department-info1
{
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 70px;
    padding-right: 80px;
    box-sizing:border-box;
}
.tests
{
    font-size: 16px;
    font-weight:bold;
}
.li-inner
{
    text-align:justify;
}
.paragraph1
{
    font-size:15px;
    text-align:justify;
}
.sec2
{
    height:auto;
    padding-top:24px;
    box-sizing:border-box;
}
.a1
{
    padding:6px 20px 20px 20px;
}
.a2
{
    padding:6px 20px 20px 20px;
}
.a3
{
    padding:6px 20px 20px 20px;
}
.a4
{
    padding:6px 20px 20px 20px;
}
.sec2-c1
{
    height:300px;
    width:80%;
    margin-left:25px;
}
.dept1
{
    width:100%;
    height:80%;
    background-image:url('../images/pic1.jpg');
}
.dept2
{
    width:100%;
    height:80%;
	background-size:  390px 413px;
    background-image:url('../images/pic2.jpg');
}
.dept3
{
    width:100%;
    height:80%;
    background-image:url('../images/pic3.jpg');
	height:80%;
	background-size:  390px 413px;
}
.dept4
{
    width:100%;
    height:80%;
    background-image:url('../images/pic4.jpg');
	height:80%;
	background-size:  390px 413px;
}
.sec2-c3
{
    width:100%;
    height:20%;
    background-color:#EBDC87;
	
	
}
.dep-detail
{
    padding: 26px;
    box-sizing: border-box;
}